*{
    margin: 0;
    padding: 0;
    color: #cacdd2;
    box-sizing: border-box;
}

body{
    /* background: #000000dc url(/Images/svg8.png) no-repeat;? */
    /* background: #0E141B url(/Images/svg4.png) no-repeat; */
    background-color: #171717;
    background-size:auto;
}

#navbar-container{
    /* border: 2px solid red; */
    padding: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#navbar-items{
    /* border: 2px solid green; */
    border-bottom: 2px solid #cacdd2;
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-bottom: 0px;
    width: 30%;
    
}
#navbar-items ul{
    margin: 0.1em;
    display: flex;
    list-style: none;
}

#navbar-items ul li{
    padding: 10px;
    margin: 3px;
    font-size: 1.01rem; 
    letter-spacing: 2px;

}

#navbar-items ul li:hover{
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    color: #101010;
}

#container {
    padding: 5px;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
}
#cover-image{
    padding:10px;
    margin: 5px;
    height: 30vh;
    width: auto;
    display: flex;
    justify-content: center;
    opacity: 80%;


}
#cover-image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 15px;
    /* box-shadow: 0px 1px 25px 2px rgba(255, 255, 255, 0.301); */

}
#container-details{
    /* padding: 10px; */
    margin: 5px;
    /* border: 1px solid #cacdd2; */
    border-radius: 15px;
    background-color: #b4b4b42c;
    width: auto;
    padding: 1.2rem;
    margin-top: 2rem;
}
#container-details p{
    line-height: 1.5em;
    word-wrap: break-word;
    word-spacing: 5px;
    text-indent: 2em;
    font-weight: 500;
    text-align:justify;
    
}
#container-details span{
    line-height: 1.5em;
    word-wrap: break-word;
    word-spacing: 5px;
    text-indent: 2em;
    font-weight: 500;
    
}

#btn-readmore{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #cacdd2;
    color:  #0b0b0b;
}
#btn-readmore:hover{
    cursor: pointer;
    background-color: black;
    color:#ff4c29;
}

#container-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
#container-upload{
    margin: 1.1rem;
    padding: 1.1rem;
    height: 30vh;
    width: 80vw;
    border: 2px solid #cacdd2;
    border-radius: 10px;
    box-sizing: border-box;
}
#container-share{
    margin: 1.1rem;
    padding: 1.1rem;
    height: 40vh;
    width: 96%;
    border: 2px solid #cacdd2;
    border-radius: 10px;
}
.upload-box{
    /* padding: 2rem; */
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.upload-box svg{
    height: 10vh;
    width: 8vw;
}
.upload-box.pdf{
    width: 4rem;
    height: 4rem;
    color: #fff;
}
.upload-box span{
    color: #fff;
}
.fileInput-label{
    margin: -0.5rem;
    padding: 1.2rem;
    background-color: rgba(255, 255, 255, 0.118);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 30px 1px black;
    font-size: 17px;
}

label.fileInput-label {}
#file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.fileInput-label:hover{
    background-color: #ff4c29;
}
