* {
    margin: 0;
    padding: 0;
    color: #cacdd2;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    background-size: auto;
}

#navbar-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#navbar-items {
    border-bottom: 2px solid #cacdd2;
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-bottom: 0px;
    width: 30%;

}

#navbar-items ul {
    margin: 0.1em;
    display: flex;
    list-style: none;
}

#navbar-items ul li {
    padding: 10px;
    margin: 3px;
    font-size: 1.01rem;
    letter-spacing: 2px;
}

#navbar-items ul li:hover {
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    color: #101010;
}

#container {
    padding: 5px;
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

#cover-image {
    padding: 10px;
    margin: 5px;
    height: 30vh;
    width: auto;
    display: flex;
    justify-content: center;
    opacity: 80%;
}

#cover-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#container-details {
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    background-color: #b4b4b42c;
    width: 40%;
    padding: 1.2rem;
    overflow: hidden;
    overflow-wrap: break-word;

}

#container-details p {
    line-height: 1.5em;
    word-wrap: break-word;
    word-spacing: 5px;
    text-indent: 2em;
    font-weight: 500;
    text-align: justify;

}

#btn-readmore {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #cacdd2;
    color: #0b0b0b;
}

#btn-readmore:hover {
    cursor: pointer;
    background-color: black;
    color: #ff4c29;
}

#container-2 {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#container-upload {
    margin: 1.1rem;
    padding: 1.1rem;
    height: 40vh;
    width: 50vw;
    border: 2px solid #cacdd2;
    border-radius: 10px;
}

#container-share {
    margin: 1.1rem;
    padding: 1.1rem;
    height: 40vh;
    width: 96%;
    border: 2px solid #cacdd2;
    border-radius: 10px;
}

.upload-box {
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-box svg {
    height: 10vh;
    width: 10vw;
}

.upload-box.pdf {
    width: 4rem;
    height: 4rem;
    color: #fff;
}

.upload-box span {
    color: #fff;
}

.fileInput-label {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.118);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 30px 1px black;
}

#file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fileInput-label:hover {
    background-color: #ff4c29;
}